Button {
    -fx-background-color: transparent;
    /*-fx-border-color: #3a495e;*/
    -fx-border-color: transparent;
}

Button:hover{
    -fx-background-color: #712377;
    /*-fx-effect: dropshadow(three-pass-box,black,30,0,10,10);*/
}

FontIcon {
    -fx-fill: #712377;
}

Button:hover FontIcon {
    -fx-fill: white;
}

.commonButton:hover {
    -fx-text-fill: white;
}

.menuLabel:hover font{
    -fx-text-fill: white;
}

.buttonBorder {
    -fx-border-color: transparent;
}

.text-field{
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-border-color: #712377;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.studentRegButton:hover{
    -fx-text-fill: white;
    -fx-background-color: #712377;
}

.studentRegButton{
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-color: #3b3b3b;
}

.loginButton:hover {
    -fx-text-fill: white;
    -fx-background-color: #712377;
}

.loginButton {
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-color: #3b3b3b;
}

.fNameLabel {
    -fx-text-fill: red;
}
